#Slid{
    background-image: url(https://plus.unsplash.com/premium_photo-1661382320923-83bacad984e1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z2lybCUyMGZhc2hpb258ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
}